* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    vertical-align: baseline;
    overflow-y: scroll;
}

body {
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: inherit;
}
.container > .inner {
    max-width: 1150px;
    margin: auto;
    width: 100%;
    padding: 0 0.5rem;
}

@media screen and (min-width: 641px) {
    .main-col {
        width: calc(74% - 0.7 * 1.5rem);
        float: left;
    }
    .right-col {
        width: calc(26% - 0.3 * 1.5rem);
        float: right;
    }
}

@media screen and (max-width: 640px) {

}

.form-group:after,
.clr:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    padding: 0;
}

/** ICON */
.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
span.icon,
i.icon {
    display: inline-block;
}
i.icon {
    vertical-align: middle;
}



/** IMAGE */
.image > span > img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.video > div > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
.aspect-ratio .image > span,
.aspect-ratio .video > div,
.aspect-ratio .frame,
.image.aspect-ratio > span,
.video.aspect-ratio > div,
.frame.aspect-ratio {
    display: block;
    width: 100%;
    height: 0;
}

/** Add your aspect ratios */
.aspect-ratio.__16x9 .image > span,
.aspect-ratio.__16x9 .video > div,
.aspect-ratio.__16x9 .frame,
.image.aspect-ratio.__16x9 > span,
.video.aspect-ratio.__16x9 > div,
.frame.aspect-ratio.__16x9 {
    padding-bottom: calc(900% / 16);
}
.aspect-ratio.__3x2 .image > span,
.aspect-ratio.__3x2 .video > div,
.aspect-ratio.__3x2 .frame,
.image.aspect-ratio.__3x2 > span,
.video.aspect-ratio.__3x2 > div,
.frame.aspect-ratio.__3x2 {
    padding-bottom: calc(200% / 3);
}
.aspect-ratio.__3x1 .image > span,
.aspect-ratio.__3x1 .video > div,
.aspect-ratio.__3x1 .frame,
.image.aspect-ratio.__3x1 > span,
.video.aspect-ratio.__3x1 > div,
.frame.aspect-ratio.__3x1 {
    padding-bottom: calc(100% / 3);
}

@media screen and (max-width: 640px) {
    .aspect-ratio.__16x9-sm .image > span,
    .aspect-ratio.__16x9-sm .video > div,
    .aspect-ratio.__16x9-sm .frame,
    .image.aspect-ratio.__16x9-sm > span,
    .video.aspect-ratio.__16x9-sm > div,
    .frame.aspect-ratio.__16x9-sm {
        padding-bottom: calc(900% / 16);
    }
    .aspect-ratio.__3x2-sm .image > span,
    .aspect-ratio.__3x2-sm .video > div,
    .aspect-ratio.__3x2-sm .frame,
    .image.aspect-ratio.__3x2-sm > span,
    .video.aspect-ratio.__3x2-sm > div,
    .frame.aspect-ratio.__3x2-sm {
        padding-bottom: calc(200% / 3);
    }
}



/** PARAGRAPH */
.paragraph {
}
.paragraph * {
    max-width: 100% !important;
    height: auto !important;
}
.paragraph img {
    object-fit: contain;
}
.paragraph > img,
.paragraph h1,
.paragraph h2,
.paragraph h3,
.paragraph h4,
.paragraph h5,
.paragraph h6,
.paragraph table,
.paragraph p,
.paragraph ul,
.paragraph ol {
    display: block;
    margin-top: 1em;
}
.paragraph ul,
.paragraph ol {
    padding-left: 2em;
}
.paragraph h2 {
    font-size: 1.2em;
}
.paragraph h3 {
    font-size: 1.15em;
}
.paragraph h4 {
    font-size: 1.1em;
}
.paragraph a {
    color: #00B0F0;
}
.paragraph a:hover {
    border-bottom: 1px solid #aaf;
}
.paragraph a:active {
    opacity: 0.7;
    border-bottom: none;
}

@media screen and (min-width: 781px) {
    .lg-hidden {
        display: none !important;
    }
    .md-only {
        display: none !important;
    }
}

@media screen and (max-width: 780px) {
    .lg-only {
        display: none !important;
    }
}

@media screen and (min-width: 641px) and (max-width: 780px) {
    .md-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 641px) {
    .sm-only {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    .md-only {
        display: none !important;
    }
    .sm-hidden {
        display: none !important;
    }
}


